HELP.md
!**/src/main/**
!**/src/test/**

##########################
## Java
##########################
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
*.ear
*.class

##########################
## Logs
##########################
*.log
hs_err_pid*
logs/.logs

##########################
## VS Code
##########################
.vscode/

##########################
## Maven
##########################
.mvn/wrapper/maven-wrapper.jar
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next
release.properties

##########################
## IntelliJ
##########################
*.iml
*.idea/
*.iws
*.ipr
out/
.idea_modules/

##########################
## STS
##########################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##########################
## Eclipse
##########################
.metadata
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##########################
 ## NetBeans
##########################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
nbactions.xml
nb-configuration.xml

##########################
## OS X
##########################
.DS_Store
